<div class="presentation">
  <section class="presentation__data">
    <img class="presentation__avatar" src="{{ avatar }}" alt="Avatar" />
    <h1 class="presentation__name">ÍCARO COSTA</h1>
    <p class="presentation__position">{{'Desenvolvedor FullStack' | translate}}</p>
  </section>

  <section class="presentation__aboutme">
    <h2>{{'Olá' | translate}}</h2>
    <p>
      Mussum Ipsum, cacilds vidis litro abertis. Mauris nec dolor in eros
      commodo tempor. Aenean aliquam molestie leo, vitae iaculis nisl. Praesent
      vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.
      Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam
      vulputate dapibus. Paisis, filhis, espiritis santis.
    </p>
  </section>

  <section class="presentation__list--icon">

    <!-- INTERETS -->
    <h2>{{'Interesses' | translate}}</h2>
    <ul>
      <li><img src="{{ imgCerveja }}" title="cerveja" /></li>
      <li><img src="{{ imgCiclismo }}" title="ciclismo" /></li>
      <li><img src="{{ imgCafe }}" title="café" /></li>
      <li><img src="{{ imgControle }}" title="game" /></li>
      <li><img src="{{ imgMusical }}" title="música" /></li>
      <li><img src="{{ imgPraia }}" title="praia" /></li>
    </ul>
  </section>
</div>